#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.Introduction {
  color: #888;
}
.navbar {
  padding: 2.5rem;
  background-color: #121212;   
  height: 2rem;         
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Stegfont';
  src: url('../fonts/Stegfont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font1';
  src: url('../fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.navLink {
  font-size: 22px; 
  font-family: 'font1', sans-serif;
  color: #d5dee9;
  text-decoration: none;
  margin-right: 5rem;
 
}

.navLink:hover {
  color: #2677a5;
  text-shadow: 0 0 3em #ffffffaa;
}
