
body {
    background-color: lightblue;
}
h1 {
    margin: auto;
    color: rgb(62, 62, 84);
    font-size: 56px;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 240px;
    right: 0px;
    bottom: 0;

}
p {
    margin: auto;
    font-size: 22px;
    font-style : steganography;
    font-weight: bold;
    color: rgb(24, 24, 162);
    padding: 20px;
    /*background-color: rgb(114, 112, 205);*/
}
#steg
{
    margin: 5px;
    padding: 20px;
    font-size: 22px;
}
#abfg
{
    margin: 5px;
    padding: 20px;
    font-size: 18px;
}
.baby
{
    margin: 3px;
    padding: 20px;
    font-size: 13px;
    color: rgb(31, 135, 76);
}
