#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.logo {
  height: 6em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    border-radius: 50%;
  }
}
.logolink {
    border-radius: 80%;
    padding: .5em;
}
.navbar-logo {
  height: 80px;  
  width: auto;
  cursor: pointer;
}
.navbar-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nav-logo-wrapper {
  font-family: 'font1', sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: flex-start; 
  color: #3c43a5;
   margin-top: -75px;
}
.card {
  padding: 2em;
  color: #ffffff;
}
.spacer {
  padding: 5em;
}
.AboutMe {
  padding-top: 70px;
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.nametitle{
  margin: 0;
  padding: 0;

}
.gallery-image{
   width: 200px;      
  height: 200px;     
  object-fit: cover; 
  object-position: center; 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}
.Introduction {
  color: #b0ced4;
}
.navbar {
  padding: 2.5rem;
  background-color: #121212;   
  height: 2rem;         
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Stegfont';
  src: url('../fonts/Stegfont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font1';
  src: url('../fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.navLink {
  font-size: 22px; 
  font-family: 'font1', sans-serif;
  color: #d5dee9;
  text-decoration: none;
  margin-right: 5rem;
 
}

.navLink:hover {
  color: #2677a5;
  text-shadow: 0 0 3em #ffffffaa;
}
